<div class="container">
  <div class="row align-items-center">
    <ng-container *ngFor="let card of cards">
      <div
        id="{{ card }}"
        class="col card bg-success shadow-sm p-3 m-2 rounded"
        (click)="clickEvent($event)"
      >
        <img
          src="../../assets/imgs/{{ card }}.jpg"
          alt=""
          class="img-responsive"
          [ngClass]="status ? 'show' : 'hide'"
        />
      </div>
    </ng-container>
  </div>
  <div class="row align-items-center">
    <ng-container *ngFor="let card of cardsCopy">
      <div
        id="{{ card }}"
        class="col card bg-success shadow-sm p-3 m-2 rounded"
        (click)="clickEvent($event)"
      >
        <img
          src="../../assets/imgs/{{ card }}.jpg"
          alt=""
          class="img-responsive"
          [ngClass]="status ? 'show' : 'hide'"
        />
      </div>
    </ng-container>
  </div>
</div>
