<div class="container">
    <div class="row align-items-center">
        <div id="card1" class="col card bg-success shadow-sm p-3 m-2 rounded"> 
            <img src="../../assets/imgs/1.jpg" alt="" class="img-responsive" 
            (click)="clickEvent(1)" [ngClass]="status ? 'show' : 'hide'">
        </div>
        <div class="col card bg-success shadow-sm p-3 m-2 rounded"> 
            <img src="../../assets/imgs/5.jpg" alt="" class="img-responsive" 
            (click)="clickEvent(2)" [ngClass]="status ? 'show' : 'hide'">
        </div>
        <div class="col card bg-success shadow-sm p-3 m-2 rounded"> 
            <img src="../../assets/imgs/10.jpg" alt="" class="img-responsive"
            (click)="clickEvent(3)" [ngClass]="status ? 'show' : 'hide'">
        </div>
        <div class="col card bg-success shadow-sm p-3 m-2 rounded"> 
            <img src="../../assets/imgs/8.jpg" alt="" class="img-responsive"
            (click)="clickEvent()" [ngClass]="status ? 'show' : 'hide'">
        </div>
        <div class="col card bg-success shadow-sm p-3 m-2 rounded"> 
            <img src="../../assets/imgs/3.jpg" alt="" class="img-responsive"
            (click)="clickEvent()" [ngClass]="status ? 'show' : 'hide'">
        </div>
        <div id="card1" class="col card bg-success shadow-sm p-3 m-2 rounded"> 
            <img src="../../assets/imgs/1.jpg" alt="" class="img-responsive" 
            (click)="clickEvent(1)" [ngClass]="status ? 'show' : 'hide'">
        </div>
        <div class="col card bg-success shadow-sm p-3 m-2 rounded"> 
            <img src="../../assets/imgs/5.jpg" alt="" class="img-responsive" 
            (click)="clickEvent(2)" [ngClass]="status ? 'show' : 'hide'">
        </div>
        <div class="col card bg-success shadow-sm p-3 m-2 rounded"> 
            <img src="../../assets/imgs/10.jpg" alt="" class="img-responsive"
            (click)="clickEvent(3)" [ngClass]="status ? 'show' : 'hide'">
        </div>
        <div class="col card bg-success shadow-sm p-3 m-2 rounded"> 
            <img src="../../assets/imgs/8.jpg" alt="" class="img-responsive"
            (click)="clickEvent()" [ngClass]="status ? 'show' : 'hide'">
        </div>
        <div class="col card bg-success shadow-sm p-3 m-2 rounded"> 
            <img src="../../assets/imgs/3.jpg" alt="" class="img-responsive"
            (click)="clickEvent()" [ngClass]="status ? 'show' : 'hide'">
        </div>
        
      </div>
      <div class="row">
        <div class="col card bg-success shadow-sm p-3 m-2 rounded"> 
            <img src="../../assets/imgs/2.jpg" alt="" class="img-responsive"
            (click)="clickEvent()" [ngClass]="status ? 'show' : 'hide'">
        </div>
        <div class="col card bg-success shadow-sm p-3 m-2 rounded"> 
            <img src="../../assets/imgs/7.jpg" alt="" class="img-responsive"
            (click)="clickEvent()" [ngClass]="status ? 'show' : 'hide'">
            
        </div>
        <div class="col card bg-success shadow-sm p-3 m-2 rounded"> 
            <img src="../../assets/imgs/9.jpg" alt="" class="img-responsive"
            (click)="clickEvent()" [ngClass]="status ? 'show' : 'hide'">
        </div>
        <div class="col card bg-success shadow-sm p-3 m-2 rounded"> 
            <img src="../../assets/imgs/7.jpg" alt="" class="img-responsive"
            (click)="clickEvent()" [ngClass]="status ? 'show' : 'hide'">
        </div>
        <div class="col card bg-success shadow-sm p-3 m-2 rounded">
            <img src="../../assets/imgs/2.jpg" alt="" class="img-responsive"
            (click)="clickEvent()" [ngClass]="status ? 'show' : 'hide'">
        </div>
        <div class="col card bg-success shadow-sm p-3 m-2 rounded"> 
            <img src="../../assets/imgs/6.jpg" alt="" class="img-responsive"
            (click)="clickEvent()" [ngClass]="status ? 'show' : 'hide'">
        </div>
        <div class="col card bg-success shadow-sm p-3 m-2 rounded"> 
            <img src="../../assets/imgs/4.jpg" alt="" class="img-responsive"
            (click)="clickEvent()" [ngClass]="status ? 'show' : 'hide'">
            
        </div>
        <div class="col card bg-success shadow-sm p-3 m-2 rounded"> 
            <img src="../../assets/imgs/9.jpg" alt="" class="img-responsive"
            (click)="clickEvent()" [ngClass]="status ? 'show' : 'hide'">
        </div>
        <div class="col card bg-success shadow-sm p-3 m-2 rounded"> 
            <img src="../../assets/imgs/4.jpg" alt="" class="img-responsive"
            (click)="clickEvent()" [ngClass]="status ? 'show' : 'hide'">
        </div>
        <div class="col card bg-success shadow-sm p-3 m-2 rounded">
            <img src="../../assets/imgs/6.jpg" alt="" class="img-responsive"
            (click)="clickEvent()" [ngClass]="status ? 'show' : 'hide'">
        </div>
      </div>
</div>